# ProHash Environment Variables

# Chemin vers l'exécutable Hashcat (optionnel si dans le PATH)
HASHCAT_PATH=/usr/bin/hashcat

# Dossier contenant par défaut les wordlists
WORDLISTS_DIR=./database/wordlists/

# Mode de verbosité (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO

# Activer ou désactiver les messages pédagogiques (true/false)
TEACHING_MODE=true
